/* Font link is here */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* hero section  */

.hero-section h1 {
  text-shadow: 1px 1px 3px #130202, -1px -1px 3px #130202;
}

.hero-section p {
  text-shadow: 1px 1px 2px #0c0202, 1px 1px 2px #080101;
}

/* second section is here */

.second-section {
  display: flex;
  flex-direction: row;
}

/* third section is here*/

.card-box {
  border-radius: 5px;
  padding: 20px;
  box-shadow: 3px 4px 6px rgba(20, 20, 20, 0.1), -3px -3px 6px rgba(10, 10, 10, 0.1);
  margin-top: 40px;

}

.card-box3 {
  border-radius: 15px;
  padding: 20px;
  box-shadow: 3px 4px 6px rgba(20, 20, 20, 0.1), -3px -3px 6px rgba(10, 10, 10, 0.1);
  background-color: #3F87F5;
}

.card-box3,
.card-box3 h3,
.card-box3 p,
.card-box3 ul>li {
  color: #ffffff;
}

.top-hot {
  top: -15px;
  right: 10px;
}

/* fourth section is here */
.fourth-card {
  border-radius: 7px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(10, 10, 10, 0.1);
}

.fourth-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

/* fifth section is here */

.client-name {
  margin-top: 10px;
  font-weight: bold;

}

.client-career {
  color: rgb(46, 43, 43);
  margin-top: -4px;
}

/* Footer is here */
.footer-fixed {

  height: 250px;
  background-color: #0B0D17;
  font-size: 16px;

}

/* scrollbar code */

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #d1e5ff;

}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#642bff, #ff22e6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#acac11, #1e6e0cb6);
}


/* Responsiveness */
@media screen and (max-width:480px) {

  .second-section {
    display: flex;
    flex-direction: column-reverse;

  }

}